{% extends 'base.html' %}

{% block content %}
{% if current_user.is_authenticated %}
<h1>Задачи</h1>
<p>Решение задач:</p>


<div class="container">
<div class="row">
    <div class="col-md-8 offset-md-2">
        <div class="alert alert-secondary" role="alert">
            <form method="POST">
                {{ form.csrf_token() }}
                <div class=".col-3 .col-md-2">Задание {{ tasks.0.id }}. Файл размером {{ tasks.0.size }} Кбайт
                    передаётся через некоторое соединение со скоростью {{ tasks.0.to_unit }} бит в секунду.
                Определите размер файла (в Кбайт), который можно передать за то же время через другое соединение со скоростью
                    {{ tasks.0.from_unit }} бит в секунду.
                    В ответе укажите одно целое число: размер файла в Кбайт. Единицы измерения писать не нужно.
                </div>
                {{ form.answer(class='form-control') }}
            <div class=".col-3 .col-md-2">Задание {{ tasks.1.id }}. Файл размером {{ tasks.1.size }} Кбайт
                    передаётся через некоторое соединение со скоростью {{ tasks.1.to_unit }} бит в секунду.
                Определите размер файла (в Кбайт), который можно передать за то же время через другое соединение со скоростью
                    {{ tasks.1.from_unit }} бит в секунду.
                    В ответе укажите одно целое число: размер файла в Кбайт. Единицы измерения писать не нужно.
                {{ form.answer1(class='form-control') }}
                <div class=".col-3 .col-md-2">Задание {{ tasks.2.id }}. Файл размером {{ tasks.2.size }} Кбайт
                    передаётся через некоторое соединение со скоростью {{ tasks.2.to_unit }} бит в секунду.
                Определите размер файла (в Кбайт), который можно передать за то же время через другое соединение со скоростью
                    {{ tasks.2.from_unit }} бит в секунду.
                    В ответе укажите одно целое число: размер файла в Кбайт. Единицы измерения писать не нужно.
                {{ form.answer2(class='form-control') }}
                <div class=".col-3 .col-md-2">Задание {{ tasks.3.id }}. Файл размером {{ tasks.3.size }} Кбайт
                    передаётся через некоторое соединение со скоростью {{ tasks.3.to_unit }} бит в секунду.
                Определите размер файла (в Кбайт), который можно передать за то же время через другое соединение со скоростью
                    {{ tasks.3.from_unit }} бит в секунду.
                    В ответе укажите одно целое число: размер файла в Кбайт. Единицы измерения писать не нужно.
                {{ form.answer3(class='form-control') }}
                <div class=".col-3 .col-md-2">Задание {{ tasks.4.id }}. Файл размером {{ tasks.4.size }} Кбайт
                    передаётся через некоторое соединение со скоростью {{ tasks.4.to_unit }} бит в секунду.
                Определите размер файла (в Кбайт), который можно передать за то же время через другое соединение со скоростью
                    {{ tasks.4.from_unit }} бит в секунду.
                    В ответе укажите одно целое число: размер файла в Кбайт. Единицы измерения писать не нужно.
                {{ form.answer4(class='form-control') }}
            {{ form.name(class='form-control', placeholder='Фамилия') }}
                {{ form.submit(type="submit", class='btn btn-primary btn-block') }}
            </form>
        </div>
    </div>
<!--*****-->
</div></div>
{% else %}
Требуется авторизация.
{% endif %}
{% endblock %}